@media (min-width: 375px) and (max-width:1440px) {
    .calculater {
        display: block;
    }
}


body {
    background: linear-gradient(to right, #00AAFF, #00ff6C);
    height: 100%;
    width: 100%;
}

h1 {
    height: 50px;
    width: 500px;
    background-color: aliceblue;
    color: rgb(23, 2, 141);
    text-align: center; 
    font-size: 300;
    padding-top: 5px;
    margin: auto; 
    margin-top: 20px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn {
    height: 40px;
    width: 60px;
    position: relative;
    border: 3px black solid;
    background-color: white;
    border-radius: 5px;
    margin: 2px;  
    cursor: pointer; 
    font-size: larger; 
}

.btn-lg {
    height: 40px;
    width: 120px;
    background-color: rgb(196, 81, 81);
    color: white;
    border: 3px black solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    
}

#reset {
    margin-right: 10px;
    margin-left: 3px;
    cursor: pointer;
    
}

.btn-md {
    height: 40px;
    width: 60px;
    background-color: white;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    margin-left: 1px;
    cursor: pointer;
    font-size: large;
}

  
.btn-md:hover {
    background-color:red;
    color: white;
}

.btn-group {
    height: 230px;
    width: 270px;
    background-color: rgb(35, 87, 125);
    padding-top: 10px;
    padding-left: 20px;
}
 
.input {
    background-color: black;
    color: white;
    height: 50px;
    width: 260px;
    margin-left: 15px;
    cursor: text;
    text-align: right;
    font-size: 5vh;
} 

.container {
    background-color: rgb(35, 87, 125); 
    height: 360px; 
    width: 300px;
    border: 5px solid black;
    border-radius: 5px;
    margin: auto;
    margin-top: 50px; 
} 
h3 {
    background-color: rgb(35, 87, 125); 
    padding-left: 15px;
    color: white; 
}

.btn-group > .btn:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.btn-lg:hover {
    background-color: rgb(107, 12, 12);
}
